@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');

/*Reset default padding and margins for all elements*/

/*
font-family: 'DM Serif Display', serif;
font-family: 'Karla', sans-serif;
*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 1600px;
    margin: auto;
}

/*Styling for the header element*/
header {
    padding: 1.1rem 6.5rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 3;
    background-color: white;
    transition: all 0.3s ease-in-out;
}

/*Styling for the nav element*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    transition: all 0.3s ease-in-out;
}

/*Styling for the ul element*/
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Styling for the list items in the ul element*/
nav ul li {
    text-transform: uppercase;
    margin-left: 2rem;
    padding: 0.5rem 1.5rem;
    font-family: 'Karla', sans-serif;
    font-size: 1.3vw;
}

/*Styling for the a tags in the list items in the ul element*/
nav ul li a {
    color: black;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
}

/*Change the first three list items on hover*/
nav ul li:nth-child(1):hover,
nav ul li:nth-child(2):hover,
nav ul li:nth-child(3):hover {
    font-weight: 700;
}

/*Styling for the view plans button*/
nav ul li:nth-child(4) a {
    border: thin solid black;
    padding: 0.5rem 1.5rem;
    letter-spacing: 0.1rem;
    transition: all 0.3s ease-in-out;
}

nav ul li:hover:nth-child(4) a {
    color: white;
    background-color: black;
}

/*Styling for the hamburger*/
nav .hamburger-container {
    cursor: pointer;
    display: none;
    width: 35px;
    height: 35px;
    background-image: url("Assets/icon-hamburger.svg");
    background-repeat: no-repeat;
}


/*Styling for the main content on the page
___________________________________________________________________________________________________________________________________________
*/
/*Styling for the first div*/
.first-div {
    height: 100vh;
    min-height: 650px;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
    position: relative;
    top: 70px;
}

.first-div .colored-div {
    background-color: hsl(256, 26%, 20%);
    grid-row: 1 / span 6;
    grid-column: 1 / span 10;
    z-index: -1;
}

/*Styling for the text-div in the first div*/
.first-div .text-div {
    grid-row: 1 / span 6;
    grid-column: 1 / span 5;
    background-color: hsl(256, 26%, 20%);
    color: white;
    font-family: 'DM Serif Display', serif;
    padding: 3rem 0rem 3rem 7rem;
    position: relative;
}

.first-div .image-div {
    position: relative;
    top: 55px;
    grid-row: 1 / span 6;
    grid-column: 6 / span 4;
    background-image: url("Assets/image-intro-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/*Styling for the hr in the first div*/
.first-div .text-div hr {
    width: 9%;
    margin-bottom: 15px;
}

/*Styling for the h1 in the first div*/
.first-div .text-div h1 {
    font-size: 2.9vw;
    margin-bottom: 20px;
    padding-right: 4rem;
}

/*Styling for the p tag in the first div*/
.first-div .text-div p:nth-of-type(1) {
    font-size: 1.1rem;
    font-family: 'Karla', sans-serif;
    margin-bottom: 25px;
    padding-right: 5rem;
}

/*Styling for the second p tag in the first div*/
.first-div .text-div p:nth-of-type(2) a {
    border: thin solid white;
    color: white;
    padding: 0.5rem 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    font-family: 'Karla', sans-serif;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    z-index: 2;
}

/*Styling for the a tag in the first div*/
.first-div .text-div p:hover:nth-of-type(2) a {
    background-color: white;
    color:hsl(256, 26%, 20%);
}

/*before pseudo for the image on the right*/
.first-div::before {
    content: "";
    position: absolute;
    top: -50px;
    right: 0;
    height: 550px;
    width: 250px;
    background-image: url("Assets/bg-pattern-intro-right-desktop.svg");
    background-repeat: no-repeat;
    z-index: 2;
}

/*after pseudo for the image on the left*/
.first-div::after {
    content: "";
    position: absolute;
    top: 300px;
    left: 0;
    height: 370px;
    width: 150px;
    background-image: url("Assets/bg-pattern-intro-left-desktop.svg");
    background-repeat: no-repeat;
    background-size: 80%;
}

/*Styling for the div-two*/
.div-two {
    padding-left: 6.5rem;
    padding-right: 6.5rem;
    margin-bottom: 90px;
    position: relative;
}

/*Styling for the hr element*/
.div-two hr {
    width: 10%;
    margin-bottom: 40px;
}

/*The h1 in div-two*/
.div-two h1 {
    font-size: 4vw;
    margin-bottom: 50px;
    font-family: 'DM Serif Display', serif;
}

/*Styling for the flexbox*/
.flex-items-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 80px;
    transition: all 0.3s ease-in-out;
}

.flex-item {
    margin-right: 25px;
}

/*Style for image on the divs*/
.image-container {
    margin-bottom: 30px;
}

/*h2 test in the affordable pricing*/
.message {
    margin-bottom: 30px;
    font-family: 'DM Serif Display', serif;
    font-size: 2vw;
    font-weight: 100;
}

.flex-item-text {
    font-size: 1.1vw;
    font-family: 'Karla', sans-serif;
    color: hsl(256, 26%, 20%)
}

/*
_________________________________________________________________________________________________________________________________________
Styling for the box-div*/
.the-box-div {
    background-color: hsl(256, 26%, 20%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    min-height: 80px;
    background-image: url("Assets/bg-pattern-how-we-work-desktop.svg");
    background-repeat: no-repeat;
    background-position: center right -90px;    
}

.the-box-div p {
    width: 25%;
    color: white;
    font-size: 3.2vw;
    padding: 65px 3.5rem;
    width: 60%;
}

.the-box-div .btn-container {
    padding-right: 3.5rem;
}

.the-box-div .btn-container a {
    color: white;
    text-decoration: none;
    border: thin solid white;
    font-family: 'Karla', sans-serif;
    padding: 13px 30px;
    transition: all 0.3s ease-in-out;
    z-index: 2;
}

.the-box-div .btn-container a:hover {
    color:hsl(256, 26%, 20%);
    background-color: white
}

/*
-------------------------------------------------------------------------------------------------------------------------------------
Styling for the footer
*/

footer {
    background-color: hsl(0, 0%, 98%);
    padding-top: 60px;
    padding-bottom: 40px;
    padding-right: 6.5rem;
    padding-left: 6.5rem;
    background-image: url("Assets/bg-pattern-footer-desktop.svg");
    background-repeat: no-repeat;
    background-position: top 0px left -150px;
}

footer hr {
    margin-bottom: 40px;
}

.flex-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.SM-container img {
    cursor: pointer;
}

.SM-container img:hover {
    filter: brightness(0.2)
}

.SM-container img:nth-of-type(1),
.SM-container img:nth-of-type(2),
.SM-container img:nth-of-type(3) {
    margin-right: 16px;
}

.footer-flex-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: 'Karla', sans-serif;
    transition: all 0.3s ease-in-out;
}

.footer-flex-item:nth-of-type(1),
.footer-flex-item:nth-of-type(2),
.footer-flex-item:nth-of-type(3),
.footer-flex-item:nth-of-type(4) {
    margin-right: 13vw;    
}

.footer-flex-item p {
    color:hsl(256, 26%, 20%);
    text-transform: uppercase;
    font-size: 1.3vw;
    margin-bottom: 45px;
}

.footer-flex-item ul li {
    font-size: 1.1vw;
    color: black;
    font-weight: 700;
    margin-bottom: 12px;
    list-style-type: none;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    border: thin solid white;
}

.footer-flex-item ul li::before {
    position: absolute;
    content: "";
    background-color: hsl(256, 26%, 20%);
    width: 70%;
    height: 1px;
    margin: auto;
    top: 100%;
    transform: scale(0);
    transition: all 0.3s ease-in-out;
    transform-origin: center;
}

.footer-flex-item ul li:hover::before {
    transform: scale(1);
}





/*Media queries*/
/*Media queries to change the navigation */  
@media only screen and (max-width: 1120px) {
    
    header {
        padding: 1.1rem 3.0rem 
    }
    
    .first-div {
        height: 100vh;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: 1fr;
        top: 70px;
    }
    
    .first-div .colored-div {
        grid-row: 2 / span 1;
        grid-column: 1 / span 1;
    }
    
    /*Styling for the text-div in the first div*/
    .first-div .text-div {
        grid-row: 2 / span 1;
        grid-column: 1 / span 1;
        text-align: center;
    }

    .first-div .text-div::after {
        position: absolute;
        content: "";
        background-image: url("Assets/bg-pattern-intro-left-mobile.svg");
        background-size: 100%;
        background-repeat: no-repeat;
        height: 250px;
        width: 17vw;
        top: 0;
        left: 0;
    }

    .first-div .text-div::before {
        content: "";
        position: absolute;
        top: 53vh;
        right: 0px;
        background-image: url("Assets/bg-pattern-intro-right-mobile.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        width: 20vw;  
        height: 350px;    
    }

    .first-div .text-div h1 {
        font-size: 3.5rem;
        margin-bottom: 40px;
    }

    .first-div .text-div p:nth-of-type(1) {
        font-size: 1.5rem;
        margin-bottom: 50px;
    }

    .first-div .text-div p:nth-of-type(2) {
        margin-bottom: 40px;
    }

    .first-div .text-div p:nth-of-type(2) a {
        font-size: 1.5rem;
        padding: 0.5rem 3.5rem;
        margin-right: 17%;
    }

    .first-div .text-div hr {
        display: none;
    }
    
    .first-div .image-div {
        top: 0px;
        grid-row: 1 / span 1;
        grid-column: 1 / span 1;
        background-image: url("Assets/image-intro-mobile.jpg");
        background-size: 100% 100%;
        background-position: center center
    }

    .first-div::after {
        background-size: 0%;
    }

    .first-div::before {
        width: 0vw;       
    }

    /*Styling for div-two*/
    .div-two {
        position: relative;
        top: 120px;
    }

    .div-two h1 {
        font-size: 2.5rem;
    }
    
    .flex-item h2 {
        font-size: 1.7rem;
    }

    .flex-item p {
        font-size: 1.1rem;
    }

    .footer-flex-item p {
        font-size: 1.2rem;
    }

    .footer-flex-item ul li {
        font-size: 1.1rem;
    }

    .footer-flex-container .footer-flex-item:nth-of-type(1),
    .footer-flex-container .footer-flex-item:nth-of-type(2),
    .footer-flex-container .footer-flex-item:nth-of-type(3),
    .footer-flex-container .footer-flex-item:nth-of-type(4) {
         margin-right: 10vw;    
    }

    footer {
        position: relative;
        top: 70px;
    }
}


/*Change the navigation to he hamburger button*/
@media only screen and (max-width: 870px) {

   /*Change the display for the ul tag*/
    nav ul {
        position: fixed;
        flex-direction: column;
        justify-content: flex-start;
        background-color: hsl(256, 26%, 20%);
        left: 0;
        top: 71px;
        width: 100%;
        height: 100vh;
        padding-top: 80px;
        background-image: url("Assets/bg-pattern-mobile-nav.svg");
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: 100% 32%;
        transform: scale(0);
        opacity: 0;
        transform-origin: top;
        transition: all 0.4s ease-in-out
    }

    /*To be toggled with javascript*/
    nav ul.active {
        transform: scale(1);
        opacity: 1;
    }

    /*Change the display for the li tags ul tag*/
    nav ul li {
        font-size: 1.7rem;
        margin-bottom: 25px;
    }

    /*Change the color fo the textx in the li tags*/
    nav ul li a {
        color: white;
    }

    /*Change the styling for the a tag in the 4th list item*/
    nav ul li:nth-child(4) a {
        border: thin solid white;
    }

    /*Make the hamburger appear*/
    nav .hamburger-container {
        display: block;
        transition: all 0.3s ease-in-out;
    }

    /*To be toggled with javascript*/
    nav .hamburger-container.active {
        background-image: url("Assets/icon-close.svg");
    }
}

@media only screen and (max-width: 800px) {
    .the-box-div {
        flex-direction: column;
        padding-bottom: 60px; 
        background-image: url("Assets/bg-pattern-how-we-work-mobile.svg");   
        background-position: top right;   
        padding: 2rem 4rem 4rem 4rem;
        background-size: 20vw;
    }

    .the-box-div p {
        width: 100%;
        font-size: 3.0rem;
        text-align: center; 
        padding: 0;
        margin-bottom: 50px;
    }

    .the-box-div .btn-container {
        padding-right: 0;
    }

    .the-box-div .btn-container a {
        font-size: 1.3rem;
        padding: 1rem 2rem;
    }

    .footer-flex-container {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 65px;
    }

    .our-company-div {
        grid-row: 1 / span 1;
        grid-column: 1 / span 1;
    }

    .help-me-div {
        grid-row: 1 / span 1;
        grid-column: 2 / span 1;
    }
    
    .contact-div {
        grid-row: 2 / span 1;
        grid-column: 1 / span 1;
    }

    .others-div {
        grid-row: 2 / span 1;
        grid-column: 2 / span 1;
    }

    /*Change flex-direction and set other footer styles*/
    .div-two hr {
       width: 85%;
       margin: auto;
       margin-top: 90px;
       margin-bottom: 40px;
    }

    .div-two h1 {
        text-align: center;
        font-size: 3.5rem;
    }

    .div-two .flex-items-container {
        flex-direction: column;
    }

    .div-two .flex-items-container .flex-item {
        margin-bottom: 80px;
        text-align: center;
    }

    .div-two .flex-items-container .flex-item h2 {
        font-size: 2.4rem;
    }
    .div-two .flex-items-container .flex-item p {
        font-size: 2.1rem;
    } 
}

@media only screen and (max-width: 700px) {

    .footer-flex-container {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        grid-row-gap: 55px;
        text-align: center;
    }

    .our-company-div {
        grid-row: 1 / span 1;
        grid-column: 1 / span 1;
    }

    .help-me-div {
        grid-row: 2 / span 1;
        grid-column: 1 / span 1;
    }
    
    .contact-div {
        grid-row: 3 / span 1;
        grid-column: 1 / span 1;
    }

    .others-div {
        grid-row: 4 / span 1;
        grid-column: 1 / span 1;
    }
}

@media only screen and (max-width: 560px) {
    html {
        font-size: 14px;
    }

    .flex-logo {
        flex-direction: column;
    }

    .flex-logo-container {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 490px) {
    html {
        font-size: 10px;
    }
}